WSReferences/pcru_ex_WSСсылка3/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav"
		targetNamespace="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav">
	<types>
		<xsd:schema elementFormDefault="qualified"
				targetNamespace="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav">
			<xsd:simpleType name="Depreciation_Type">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="_blank_"/>
					<xsd:enumeration value="Death"/>
					<xsd:enumeration value="Execution"/>
					<xsd:enumeration value="Fulfill_Debt_Relief"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Status">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="New"/>
					<xsd:enumeration value="OK"/>
					<xsd:enumeration value="Error"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Product_Type">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="_blank_"/>
					<xsd:enumeration value="Comfort"/>
					<xsd:enumeration value="Together"/>
					<xsd:enumeration value="ComfPlus"/>
					<xsd:enumeration value="Business"/>
					<xsd:enumeration value="CompLoan"/>
					<xsd:enumeration value="ComfClub"/>
					<xsd:enumeration value="Premium"/>
					<xsd:enumeration value="Auto"/>
					<xsd:enumeration value="Restructure"/>
					<xsd:enumeration value="Profi_Light"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Give_Rights_Creditor_to_Third">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="_blank_"/>
					<xsd:enumeration value="Approve"/>
					<xsd:enumeration value="Deny"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Lead_Source">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SN"/>
					<xsd:enumeration value="MKT"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Type_of_Insurance">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="_blank_"/>
					<xsd:enumeration value="Life_insurance"/>
					<xsd:enumeration value="Loss_of_income_insurance"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Integration_Contract_CRM_NAV">
				<xsd:sequence>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Key"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Entry_No"
							type="xsd:int"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Transaction_ID"
							type="xsd:long"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Customer_No"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Contract_No"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Principal_Amount"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Nominal_Amount"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Interest_Rate"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Installment_Count"
							type="xsd:int"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Installment_Amount"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Installment_Due_Date"
							type="xsd:int"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Installment_Due_Date_2"
							type="xsd:int"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Installment_Bank_Acc_No"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Principal_Revolving_Amount"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Nominal_Revolving_Amount"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Revolving_Installment_Count"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Collection_Consent"
							type="xsd:boolean"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Limit_for_Collection"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Date_of_Signature"
							type="xsd:date"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Global_Dimension_2_Code"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Shortcut_Dimension_3_Code"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Shortcut_Dimension_4_Code"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Contract_GUID_in_CRM"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Customer_GUID_in_CRM"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Contract_State"
							type="xsd:int"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Payment_Bank_Acc_No"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="External_Doc_No"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Debt_Admission_Agreement"
							type="xsd:boolean"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Depreciation_Type"
							type="xsd1:Depreciation_Type"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Status"
							type="xsd1:Status"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Contractual_Interest"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Product_Activated"
							type="xsd:boolean"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Product_Type"
							type="xsd1:Product_Type"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Product_Comission"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Give_Rights_Creditor_to_Third"
							type="xsd1:Give_Rights_Creditor_to_Third"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="SP_Rejected_Date"
							type="xsd:date"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Lead_Source"
							type="xsd1:Lead_Source"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Loyal_Client"
							type="xsd:boolean"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Individual_Entrepreneur"
							type="xsd:boolean"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Collateral_Value_Amount"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Coborrower_No"
							type="xsd:string"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="PTI_Amount"
							type="xsd:decimal"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Create_Date"
							type="xsd:date"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Approval_Date"
							type="xsd:date"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Is_New"
							type="xsd:boolean"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Date_of_Receive"
							type="xsd:date"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Vehicle_Title_Change_Date"
							type="xsd:date"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="After_Restart"
							type="xsd:boolean"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Type_of_Insurance"
							type="xsd1:Type_of_Insurance"/>
					<xsd:element minOccurs="0"
							maxOccurs="1"
							name="Insurance"
							type="xsd:decimal"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Integration_Contract_CRM_NAV_List">
				<xsd:sequence>
					<xsd:element minOccurs="1"
							maxOccurs="unbounded"
							name="Integration_Contract_CRM_NAV"
							type="xsd1:Integration_Contract_CRM_NAV"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Integration_Contract_CRM_NAV_Fields">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Entry_No"/>
					<xsd:enumeration value="Transaction_ID"/>
					<xsd:enumeration value="Customer_No"/>
					<xsd:enumeration value="Contract_No"/>
					<xsd:enumeration value="Principal_Amount"/>
					<xsd:enumeration value="Nominal_Amount"/>
					<xsd:enumeration value="Interest_Rate"/>
					<xsd:enumeration value="Installment_Count"/>
					<xsd:enumeration value="Installment_Amount"/>
					<xsd:enumeration value="Installment_Due_Date"/>
					<xsd:enumeration value="Installment_Due_Date_2"/>
					<xsd:enumeration value="Installment_Bank_Acc_No"/>
					<xsd:enumeration value="Principal_Revolving_Amount"/>
					<xsd:enumeration value="Nominal_Revolving_Amount"/>
					<xsd:enumeration value="Revolving_Installment_Count"/>
					<xsd:enumeration value="Collection_Consent"/>
					<xsd:enumeration value="Limit_for_Collection"/>
					<xsd:enumeration value="Date_of_Signature"/>
					<xsd:enumeration value="Global_Dimension_2_Code"/>
					<xsd:enumeration value="Shortcut_Dimension_3_Code"/>
					<xsd:enumeration value="Shortcut_Dimension_4_Code"/>
					<xsd:enumeration value="Contract_GUID_in_CRM"/>
					<xsd:enumeration value="Customer_GUID_in_CRM"/>
					<xsd:enumeration value="Contract_State"/>
					<xsd:enumeration value="Payment_Bank_Acc_No"/>
					<xsd:enumeration value="External_Doc_No"/>
					<xsd:enumeration value="Debt_Admission_Agreement"/>
					<xsd:enumeration value="Depreciation_Type"/>
					<xsd:enumeration value="Status"/>
					<xsd:enumeration value="Contractual_Interest"/>
					<xsd:enumeration value="Product_Activated"/>
					<xsd:enumeration value="Product_Type"/>
					<xsd:enumeration value="Product_Comission"/>
					<xsd:enumeration value="Give_Rights_Creditor_to_Third"/>
					<xsd:enumeration value="SP_Rejected_Date"/>
					<xsd:enumeration value="Lead_Source"/>
					<xsd:enumeration value="Loyal_Client"/>
					<xsd:enumeration value="Individual_Entrepreneur"/>
					<xsd:enumeration value="Collateral_Value_Amount"/>
					<xsd:enumeration value="Coborrower_No"/>
					<xsd:enumeration value="PTI_Amount"/>
					<xsd:enumeration value="Create_Date"/>
					<xsd:enumeration value="Approval_Date"/>
					<xsd:enumeration value="Is_New"/>
					<xsd:enumeration value="Date_of_Receive"/>
					<xsd:enumeration value="Vehicle_Title_Change_Date"/>
					<xsd:enumeration value="After_Restart"/>
					<xsd:enumeration value="Type_of_Insurance"/>
					<xsd:enumeration value="Insurance"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Integration_Contract_CRM_NAV_Filter">
				<xsd:sequence>
					<xsd:element minOccurs="1"
							maxOccurs="1"
							name="Field"
							type="xsd1:Integration_Contract_CRM_NAV_Fields"/>
					<xsd:element minOccurs="1"
							maxOccurs="1"
							name="Criteria"
							type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Read">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Entry_No"
								type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Read_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV"
								type="xsd1:Integration_Contract_CRM_NAV"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadByRecId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="recId"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadByRecId_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV"
								type="xsd1:Integration_Contract_CRM_NAV"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="unbounded"
								name="filter"
								type="xsd1:Integration_Contract_CRM_NAV_Filter"/>
						<xsd:element minOccurs="0"
								maxOccurs="1"
								name="bookmarkKey"
								type="xsd:string"/>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="setSize"
								type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
								maxOccurs="1"
								name="ReadMultiple_Result"
								type="xsd1:Integration_Contract_CRM_NAV_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Key"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="IsUpdated_Result"
								type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRecIdFromKey">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Key"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRecIdFromKey_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="GetRecIdFromKey_Result"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Create">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV"
								type="xsd1:Integration_Contract_CRM_NAV"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Create_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV"
								type="xsd1:Integration_Contract_CRM_NAV"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV_List"
								type="xsd1:Integration_Contract_CRM_NAV_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV_List"
								type="xsd1:Integration_Contract_CRM_NAV_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV"
								type="xsd1:Integration_Contract_CRM_NAV"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV"
								type="xsd1:Integration_Contract_CRM_NAV"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV_List"
								type="xsd1:Integration_Contract_CRM_NAV_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Integration_Contract_CRM_NAV_List"
								type="xsd1:Integration_Contract_CRM_NAV_List"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Key"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1"
								maxOccurs="1"
								name="Delete_Result"
								type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="Read">
		<part name="parameters"
				element="tns:Read"/>
	</message>
	<message name="Read_Result">
		<part name="parameters"
				element="tns:Read_Result"/>
	</message>
	<message name="ReadByRecId">
		<part name="parameters"
				element="tns:ReadByRecId"/>
	</message>
	<message name="ReadByRecId_Result">
		<part name="parameters"
				element="tns:ReadByRecId_Result"/>
	</message>
	<message name="ReadMultiple">
		<part name="parameters"
				element="tns:ReadMultiple"/>
	</message>
	<message name="ReadMultiple_Result">
		<part name="parameters"
				element="tns:ReadMultiple_Result"/>
	</message>
	<message name="IsUpdated">
		<part name="parameters"
				element="tns:IsUpdated"/>
	</message>
	<message name="IsUpdated_Result">
		<part name="parameters"
				element="tns:IsUpdated_Result"/>
	</message>
	<message name="GetRecIdFromKey">
		<part name="parameters"
				element="tns:GetRecIdFromKey"/>
	</message>
	<message name="GetRecIdFromKey_Result">
		<part name="parameters"
				element="tns:GetRecIdFromKey_Result"/>
	</message>
	<message name="Create">
		<part name="parameters"
				element="tns:Create"/>
	</message>
	<message name="Create_Result">
		<part name="parameters"
				element="tns:Create_Result"/>
	</message>
	<message name="CreateMultiple">
		<part name="parameters"
				element="tns:CreateMultiple"/>
	</message>
	<message name="CreateMultiple_Result">
		<part name="parameters"
				element="tns:CreateMultiple_Result"/>
	</message>
	<message name="Update">
		<part name="parameters"
				element="tns:Update"/>
	</message>
	<message name="Update_Result">
		<part name="parameters"
				element="tns:Update_Result"/>
	</message>
	<message name="UpdateMultiple">
		<part name="parameters"
				element="tns:UpdateMultiple"/>
	</message>
	<message name="UpdateMultiple_Result">
		<part name="parameters"
				element="tns:UpdateMultiple_Result"/>
	</message>
	<message name="Delete">
		<part name="parameters"
				element="tns:Delete"/>
	</message>
	<message name="Delete_Result">
		<part name="parameters"
				element="tns:Delete_Result"/>
	</message>
	<portType name="Integration_Contract_CRM_NAV_Port">
		<operation name="Read">
			<input name="Read"
					message="tns:Read"/>
			<output name="Read_Result"
					message="tns:Read_Result"/>
		</operation>
		<operation name="ReadByRecId">
			<input name="ReadByRecId"
					message="tns:ReadByRecId"/>
			<output name="ReadByRecId_Result"
					message="tns:ReadByRecId_Result"/>
		</operation>
		<operation name="ReadMultiple">
			<input name="ReadMultiple"
					message="tns:ReadMultiple"/>
			<output name="ReadMultiple_Result"
					message="tns:ReadMultiple_Result"/>
		</operation>
		<operation name="IsUpdated">
			<input name="IsUpdated"
					message="tns:IsUpdated"/>
			<output name="IsUpdated_Result"
					message="tns:IsUpdated_Result"/>
		</operation>
		<operation name="GetRecIdFromKey">
			<input name="GetRecIdFromKey"
					message="tns:GetRecIdFromKey"/>
			<output name="GetRecIdFromKey_Result"
					message="tns:GetRecIdFromKey_Result"/>
		</operation>
		<operation name="Create">
			<input name="Create"
					message="tns:Create"/>
			<output name="Create_Result"
					message="tns:Create_Result"/>
		</operation>
		<operation name="CreateMultiple">
			<input name="CreateMultiple"
					message="tns:CreateMultiple"/>
			<output name="CreateMultiple_Result"
					message="tns:CreateMultiple_Result"/>
		</operation>
		<operation name="Update">
			<input name="Update"
					message="tns:Update"/>
			<output name="Update_Result"
					message="tns:Update_Result"/>
		</operation>
		<operation name="UpdateMultiple">
			<input name="UpdateMultiple"
					message="tns:UpdateMultiple"/>
			<output name="UpdateMultiple_Result"
					message="tns:UpdateMultiple_Result"/>
		</operation>
		<operation name="Delete">
			<input name="Delete"
					message="tns:Delete"/>
			<output name="Delete_Result"
					message="tns:Delete_Result"/>
		</operation>
	</portType>
	<binding name="Integration_Contract_CRM_NAV_Binding"
			type="tns:Integration_Contract_CRM_NAV_Port">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Read">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:Read"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="ReadByRecId">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:ReadByRecId"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="ReadMultiple">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:ReadMultiple"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="IsUpdated">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:IsUpdated"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetRecIdFromKey">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:GetRecIdFromKey"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="Create">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:Create"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateMultiple">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:CreateMultiple"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="Update">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:Update"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateMultiple">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:UpdateMultiple"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="Delete">
			<soapbind:operation style="document"
					soapAction="urn:microsoft-dynamics-schemas/page/integration_contract_crm_nav:Delete"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Integration_Contract_CRM_NAV_Service">
		<port name="Integration_Contract_CRM_NAV_Port"
				binding="tns:Integration_Contract_CRM_NAV_Binding">
			<soapbind:address location="http://ruspbtsql01:7089/PROFICREDITX/WS/NAVTEST/Page/Integration_Contract_CRM_NAV"/>
		</port>
	</service>
</definitions>